
<div class="main-content">
    <div class="card">
        <button type="button" (click)="startProcess()" class="btn btn-outline-primary" [disabled]="processStarted">Start process</button>

        <div class="status-row">
            <mat-card>
                <mat-card-header>
                    <div class="stage">Stage name: {{ data.stageName }}</div>
                    <div class="processed">Processed {{ data.processedCount }} of {{ data.total }} dicom images</div>
                </mat-card-header>
            
                <mat-card-content>
                    <mat-progress-bar [mode]="determinate" [value]="data.percent"></mat-progress-bar>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
